<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="symptomsSumbission">
            <h2><span jhiTranslate="pandemicTrackingApp.symptomsSumbission.detail.title">Symptoms Sumbission</span> {{ symptomsSumbission.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="pandemicTrackingApp.symptomsSumbission.userId">User Id</span></dt>
                <dd>
                    <span>{{ symptomsSumbission.userId }}</span>
                </dd>
                <dt><span jhiTranslate="pandemicTrackingApp.symptomsSumbission.submissionTime">Submission Time</span></dt>
                <dd>
                    <span>{{ symptomsSumbission.submissionTime }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/symptoms-sumbission', symptomsSumbission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
